@use "./variables.module.scss";

%container {
    max-width: 900px;
    margin: 0 auto;
    border-radius: 25px;
}

%container-bg-white {
    @extend %container;
    background-color: variables.$color-white;
}

%container-fluid {
    margin: 0;
    max-width: 100%;
}