@use "../utils/variables.module.scss";
@use "../utils/container.module.scss";
@use "../utils/grid.module.scss";

.inputGroup {
    @extend %col-6;
    margin-bottom: 1.5rem;
    &:nth-child(odd) {
        padding-right: 1rem;
    }
    &:nth-child(even) {
        padding-left: 1rem;
    }
    > p {
        color: variables.$color-text;
        margin-bottom: 1rem;
    }
    input[type="text"] {
        padding-left: 1rem;
        border: 2px solid variables.$color-grey-2;
        height: 3rem;
        border-radius: 10px;
        width: 100%;
        outline: none;
        &::placeholder {
            color: variables.$color-grey-3;
        }
    }
    &__doubleInput {
        @extend %row-container;
        &__wrapper {
            @extend %col-6;
            &:nth-child(1) {
                padding-right: 1rem;
            }
            &:nth-child(2) {
                padding-left: 1rem;
            }
        }
    }
    > textarea {
        padding: 1rem;
        border: 2px solid variables.$color-grey-2;
        border-radius: 10px;
        width: 100%;
        height: 10rem;
        resize: none;
        outline: none;
        &::placeholder {
            color: variables.$color-grey-3;
        }
    }
    &__characterLimited {
        font-size: 12px;
        color: variables.$color-grey-3 !important;
        margin-bottom: 0 !important;
        text-align: right;
    }
    &__importFile {
        display: flex;
        align-items: center;
        text-align: center;
        width: 10rem;
        height: 10rem;
        padding: 1.5rem;
        border: 2px dashed variables.$color-grey-2;
        &__placeholder {
            color: variables.$color-grey-3;
        }
    }
    &__radioOptionsList {
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;
        &__wrapper {
            display: flex;
            align-items: center;
            input {
                width: 2rem;
                height: 2rem;
                appearance: none;
                border: 6px solid variables.$color-purple;
                border-radius: 50%;
                outline: none;
                cursor: pointer;
                position: relative;
                scale: 0.7;
                &::after {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    background-color: variables.$color-white;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: 4px solid variables.$color-white;
                }
                &:checked::after {
                    background-color: variables.$color-purple;
                }
            }
            span {
                color: variables.$color-grey-3;
                margin-top: 0.3rem;
            }
        }
    }
}