%search {
    position: relative;
    input {
        border-radius: 25px;
        border-color: transparent;
        height: 3.5rem;
        padding: 0 1rem;
        &:focus-visible {
            outline: none;
        }
        &:focus + label, &:not(:placeholder-shown) + label {
            top: 20%;
            font-size: 12px;
        }
    }
    label {
        display: flex;
        align-items: center;
        gap: 0.5rem;        
        position: absolute;
        transform: translateY(-50%);
        opacity: 0.5;
        left: 1rem;
        top: 50%;
        font-size: 16px;
        pointer-events: none;
        transition: top .1s ease-in-out, font-size .1s ease-in-out;
        svg {
            width: 16px;
            height: 16px;
        }
    }
}