@use "./utils/variables.module.scss";
@use "./utils/container.module.scss";
@use "./utils/grid.module.scss";
@use "./components/search.module.scss";
@use "./components/button.module.scss";
@use "./components/paginate.module.scss";
@use "./components/chat_item.module.scss";

%message {
    padding: 0.5rem 1rem;
    max-width: 50%;
    width: fit-content;
    margin: 1rem 0;
}

.chat {
    flex: 1 0;
    padding: 1rem 2rem;
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        &__title {
            color: variables.$color-text;
        }
        &__right {
            display: flex;
            gap: 2rem;
            &__search {
                @extend %search;
            }
        }
    }
    &__messageSection {
        @extend %container-fluid-bg-white, %row-container;
        border-radius: 25px;
        &__leftSide {
            @extend %col-4;
            &__wrapper {
                padding: 1.5rem;
                &__mainTitle {
                    color: variables.$color-text;
                    margin-bottom: 1rem;
                }
                &__search {
                    @extend %search;
                    input {
                        width: 100%;
                        border: 2px solid variables.$color-grey-3;
                    }
                    svg {
                        path {
                            fill: variables.$color-text;
                        }
                    }
                }
                &__groupList {
                    margin-top: 1rem;
                    &__title {
                        color: variables.$color-grey-3;
                        margin-top: 1rem;
                    }
                    &__item {
                        @extend .chatItem;
                        &__avatar {
                            @extend .chatItem__avatar;
                            &--purple {
                                background-color: variables.$color-purple;
                            }
                            &--orange {
                                background-color: variables.$color-orange;
                            }
                            &--yellow {
                                background-color: variables.$color-yellow;
                            }
                        }
                        &__info {
                            @extend .chatItem__info;
                            &__nameAndMessageWrapper {
                                &__name {
                                    @extend .chatItem__info__nameAndMessageWrapper__name;
                                }
                                &__message {
                                    @extend .chatItem__info__nameAndMessageWrapper__message;
                                }
                            }
                            &__timeAndNumUnreadMessageWrapper {
                                @extend .chatItem__info__timeAndNumUnreadMessageWrapper;
                                &__time {
                                    @extend .chatItem__info__timeAndNumUnreadMessageWrapper__time;
                                }
                                &__numOfUnreadMessage {
                                    @extend .chatItem__info__timeAndNumUnreadMessageWrapper__numOfUnreadMessage;
                                }
                            }
                        }
                    }
                }
                &__chatList {
                    @extend .chat__messageSection__leftSide__wrapper__groupList;
                    &__title {
                        @extend .chat__messageSection__leftSide__wrapper__groupList__title;
                    }
                }
                &__viewMoreBtn {
                    @extend %view-more-btn;
                    margin-top: 1rem;
                }
            }
        }
        &__rightSide {
            @extend %col-8;
            &__wrapper {
                display: flex;
                flex-direction: column;
                height: 100%;
                border-left: 1px solid variables.$color-grey-2;
                &__header {
                    padding: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &__userChatWith {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        &__avatar {
                            width: 5rem;
                            height: 5rem;
                            border-radius: 50%;
                            background-color: variables.$color-grey-2;
                        }
                        &__info {
                            &__name {
                                color: variables.$color-text;
                                margin-bottom: 0.5rem;
                            }
                            &__status {
                                display: flex;
                                align-items: center;
                                gap: 1rem;
                                &__dotIndicator {
                                    width: 16px;
                                    height: 16px;
                                    border-radius: 50%;
                                    background-color: variables.$color-green;
                                }
                                &__text {
                                    color: variables.$color-grey-3;
                                }
                            }
                        }
                    }
                    &__btnGroup {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        &__video {
                            @include button.btnStyle(transparent, transparent);
                        }
                        &__more {
                            @include button.btnStyle(transparent, transparent);
                        }
                    }
                }
                &__body {
                    flex: 1 1 auto;
                    padding: 1.5rem;
                    border-top: 1px solid variables.$color-grey-2;
                    border-bottom: 1px solid variables.$color-grey-2;
                    &__messageOther {
                        @extend %message;
                        background-color: variables.$color-grey-1;
                        &__text {
                            color: variables.$color-text;
                        }
                        &--rounded {
                            border-radius: 25px;
                        }
                        &--bubbleChat {
                            border-radius: 25px 25px 25px 0;
                        }
                    }
                    &__messageMe {
                        @extend %message;
                        background-color: variables.$color-purple;
                        &__text {
                            color: variables.$color-white;
                        }
                        margin-left: auto;
                        &--rounded {
                            @extend .chat__messageSection__rightSide__wrapper__body__messageOther--rounded;
                        }
                        &--bubbleChat {
                            border-radius: 25px 25px 0 25px;
                        }
                    }
                    &__time {
                        color: variables.$color-grey-3;
                        &--right {
                            text-align: right;
                        }
                    }
                }
                &__footer {
                    padding: 1.5rem;
                    &__sendMessageWrapper {
                        display: flex;
                        padding: 0.25rem;
                        border-radius: 25px;
                        border: 2px solid variables.$color-grey-3;
                        &__input  {
                            flex: 1 1 auto;
                            border-radius: 25px;
                            margin-left: 0.5rem;
                            border: none;
                            outline: none;
                        }
                        &__btnGroup {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            &__attachment {
                                @include button.btnStyle(transparent, transparent);
                            }
                            &__send {
                                @extend %btn-purple, %btn-text-and-icon;
                                border-radius: 25px;
                                svg {
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}