@use "./utils/variables.module.scss";
@use "./utils/container.module.scss";
@use "./utils/grid.module.scss";
@use "./components/search.module.scss";
@use "./components/button.module.scss";
@use "./components/paginate.module.scss";

.chat {
    flex: 1 1 auto;
    padding: 1rem 2rem;
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        &__title {
            color: variables.$color-text;
        }
        &__right {
            display: flex;
            gap: 2rem;
            &__search {
                @extend %search;
            }
        }
    }
    &__messageSection {
        @extend %container-fluid-bg-white, %row-container;
        border-radius: 25px;
        padding: 1.5rem;
        &__leftSide {
            @extend %col-4;
        }
        &__rightSide {
            @extend %col-8;
        }
    }
}