@use "./utils/responsive.module.scss";
@use "./utils/variables.module.scss";
@use "./utils/grid.module.scss";
@use "./components/button.module.scss";
@use "./utils/container.module.scss";
@use "./components/search.module.scss";
@use "./components/paginate.module.scss";

.dashboard {
    flex: 1 0 0%;
    @extend %row-container;
    &__mainSection {
        flex: 1 0 0%;
        @extend %container;
        padding: 1rem 1.5rem;
        &__heading {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            &__search {
                @extend %search;
            }
        }
        &__overview {
            @extend %container-bg-white, %row-container;
            margin-top: 2rem;
            padding: 1rem 0;
            &__item {
                @extend  %col-3, %col-xl-6, %col-md-12;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                &__iconBg {
                    border-radius: 50%;
                    padding: 0.5rem;
                    svg {
                        path {
                            fill: variables.$color-white;
                        }
                    }
                    &--purple {
                        background-color: variables.$color-purple;
                    }
                    &--orange {
                        background-color: variables.$color-orange;
                    }
                    &--yellow {
                        background-color: variables.$color-yellow;
                    }
                    &--text {
                        background-color: variables.$color-text;
                    }
                }
            }
        }
        &__unpaidStudentIntuition {
            @extend %container-bg-white;
            padding: 1rem 1rem;
            margin-top: 3rem;
            &__table {
                width: 100%;
                &__row {
                    height: 7rem;
                    &__class {
                        display: flex;
                        gap: 0.5rem;
                        align-items: center;
                        &__iconWrapper{
                            padding: 0.5rem;
                            background-color: variables.$color-orange;
                            border-radius: 50%;
                            svg {
                                width: 24px;
                                height: 24px;
                                display: block;
                                path {
                                    fill: variables.$color-white;
                                }
                            }
                        }
                    }
                    &__printBtn {
                        @include button.btnStyle(transparent, transparent);
                    }
                    &__optionBtn {
                        @include button.btnStyle(transparent, transparent);
                    }
                }
            }
            &__paginate{
                @extend %paginate;
            }
        }
    }
    &__rightMenu {
        background-color: variables.$color-white;
        padding: 2rem;
        &__recentStudents {
            margin-top: 1rem;
            &__heading {
                display: flex;
                gap: 2rem;
                align-items: center;
                &__addBtn{
                    @extend %btn-purple;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                }
                margin: 2rem 0;
            }
            &__list {
                &__item {
                    display: flex;
                    gap: 1rem;
                    margin-bottom: 1.5rem;
                    align-items: center;
                    &__avatar{
                        width: 2.5rem;
                        height: 2.5rem;
                        background: variables.$color-grey-2;
                        border-radius: 50%;
                    }
                    &__mailBtn {
                        @extend %btn-white-outline;
                        border-radius: 50%;
                        margin-left: auto;
                        &--active {
                            @extend %btn-purple;
                            border-radius: 50%;
                            margin-left: auto;
                            svg {
                                path {
                                    fill: variables.$color-white;
                                }
                            }
                        }
                    }
                }
            }
            &__viewMoreBtn {
                @extend %view-more-btn;
            }
        }
        &__messages {
            margin-top: 2.5rem;
            &__list {
                margin: 1.5rem 0;
                &__item {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    border-bottom: 1px solid variables.$color-grey-3;
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                    &__avatar {
                        @extend .dashboard__rightMenu__recentStudents__list__item__avatar;
                    }
                    &__info {
                        &__text {
                            max-width: 15ch;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            color: variables.$color-grey-3;
                        }
                    }
                    &__time {
                        margin-left: auto;
                        align-self: flex-start;
                    }
                }
            }
            &__viewMoreBtn {
                @extend %view-more-btn;
            }
        }
        &__currentFoodsMenu {
            margin-top: 2.5rem;
            &__list {
                margin: 2rem 0;
                &__item {
                    margin: 1rem 0;
                    &__placeHolder {
                        border-radius: 25px;
                        background-color: variables.$color-grey-2;
                        height: 20vh;
                        width: 100%;
                        margin-bottom: 1.75rem;
                    }
                    &__body {
                        @extend .dashboard__rightMenu__messages__list__item__info__text;
                        margin-top: 0.25rem;
                    }
                }
            }
            &__viewMoreBtn {
                @extend %view-more-btn;
            }
        }
    }
}