@use "./components/search.module.scss";
@use "./components/button.module.scss";
@use "./utils/variables.module.scss";
@use "./utils/container.module.scss";
@use "./utils/grid.module.scss";

.event {
    flex: 1 1 auto;
    padding: 1rem 2rem;
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        &__title {
            color: variables.$color-text;
        }
        &__right {
            display: flex;
            gap: 2rem;
            &__search {
                @extend %search;
            }
        }
    }
    &__mainSection {
        @extend %row-container;
        &__calendarSection {
            @extend %col-8;
            padding-right: 1rem;
            &__wrapper {
                @extend %container-fluid-bg-white;
                padding: 1.5rem;
                height: 100%;
                &__header {
                    margin-bottom: 2rem;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    &__title {
                        color: variables.$color-text;
                    }
                    &__btnGroup {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.5rem;
                        &__month {
                            height: 100%;
                            @extend %btn-purple-outline, %btn-text-and-icon;
                            color: variables.$color-purple;
                            border-radius: 25px;
                            margin-right: 1rem
                        }
                        &__year {
                            @extend .event__mainSection__calendarSection__wrapper__header__btnGroup__month;
                        }
                        &__newEvent{
                            @extend %btn-purple, %btn-text-and-icon;
                            border-radius: 25px;
                        }
                    }
                }
            }
        }
        &__scheduleDetailsSection {
            @extend %col-4;
        }
    }
}