@use "./utils/grid.module.scss";
@use "./utils/variables.module.scss";
@use "./utils/container.module.scss";
@use "./components/search.module.scss";

.latestActivity {
    flex: 1 1 auto;
    padding: 1rem 2rem;
    &__heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        &__title {
            color: variables.$color-text;
        }
        &__right {
            display: flex;
            gap: 2rem;
            &__search {
                @extend %search;
            }
        }
    }
    &__activitySection {
        @extend %container-fluid-bg-white;
        padding : 1.5rem;
        &__sectionItems {
            &__title {
                color: variables.$color-text;
            }
        }
    }
}