@use "./utils/variables.module.scss";
@use "./utils/container.module.scss";
@use "./utils/grid.module.scss";
@use "./components/search.module.scss";
@use "./components/button.module.scss";
@use "./components/paginate.module.scss";

.students {
    flex: 1 0;
    padding: 1rem 2rem;
    &__heading {
        &__1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
        }
        &__2 {
            @extend .students__heading__1;
            &__search {
                @extend %search;
            }
            &__btnGroup {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                &__newest{
                    height: 100%;
                    @extend %btn-purple-outline, %btn-text-and-icon;
                    background-color: variables.$color-background;
                    border: 2px solid variables.$color-purple;
                    color: variables.$color-purple;
                    border-radius: 25px;
                    margin-right: 1rem
                }
                &__newStudent{
                    @extend %btn-purple, %btn-text-and-icon;
                    border-radius: 25px;
                    text-decoration: none;
                }
            }
        }
    }
    &__tableWrapper {
        @extend %container-fluid-bg-white;
        padding: 1rem;
        &__table {
            width: 100%;
            border-collapse: collapse;
            th, td {
                border-bottom: 1px solid variables.$color-grey-2;
                padding: 1rem 0;
            }
            tr {
                :has(input:checked) {
                    border-left: 3px solid variables.$color-purple;
                }
            }
            &__inputWrapper {
                display: block;
                margin: 0 0.5rem;
                position: relative;
                cursor: pointer;
                user-select: none;
                border: none !important;
                :has(input:checked) {
                    background-color: variables.$color-purple;
                }
                input {
                    margin: 0;
                    opacity: 0;
                    cursor: pointer;
                    height: 27px;
                    width: 27px;
                    &:checked {
                        ~ .students__tableWrapper__table__inputWrapper__checkmark {
                            background-color: variables.$color-purple;
                            svg {
                                display: block;
                            }
                        }
                    }
                }
                &__checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: variables.$color-white;
                    border-radius: 3px;
                    border: 2px solid variables.$color-grey-2;
                    svg {
                        display: none;
                    }

                }
            }
            &__item {
                height: 5rem;
                &__name {
                    display: flex;
                    align-items: center;
                    gap: 0.75rem;
                    text-decoration: none;
                    &__avatar {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        background-color: variables.$color-grey-2;
                    }
                    &__text {
                        color: variables.$color-text;
                    }
                }
                &__contact {
                    display: flex;
                    gap: 1rem;
                    &__phone {
                        @extend .students__tableWrapper__table__item__contact__mail;
                    }
                    &__mail {
                        @extend %btn-purple-linear-transparent-10;
                        border-radius: 50%;
                        padding: 0.75rem;
                        path {
                            fill: variables.$color-purple;
                        }
                    }
                }
                &__grade {
                    padding: 4px 8px;
                    border-radius: 25px;
                    text-align: center;
                    &--orange {
                        background-color: variables.$color-orange;
                    }
                    &--yellow {
                        background-color: variables.$color-yellow;
                    }
                    &--purple {
                        background-color: variables.$color-purple;
                    }
                }
                &__option {
                    @include button.btnStyle(transparent, transparent);
                }
            }
        }
    }
    &__paginate {
        @extend %paginate;
    }
}

.studentDetails {
    flex: 1 0;
    padding: 1rem 2rem;
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        &__title {
            color: variables.$color-text;
        }
        &__right {
            display: flex;
            gap: 2rem;
            &__search {
                @extend %search;
            }
        }
    }
    &__mainSection {
        @extend %row-container;
        &__profileSection {
            @extend %col-8;
            padding-right: 1rem;
            &__margin {
                height: 2rem;
            }
        }
        &__scheduleDetailsSection {
            @extend %col-4;
        }
    }
}

.addNewStudent {
    flex: 1 0;
    padding: 1rem 2rem;
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        &__title {
            color: variables.$color-text;
        }
    }
    &__studentDetails {
        @extend %container-fluid-bg-white;
        margin-top: 2rem;
        &__title {
            color: variables.$color-white;
            background-color: variables.$color-purple;
            border-radius: 25px 25px 0 0;
            padding: 0.5rem 1rem; 
        }
        &__mainWrapper {
            @extend %row-container;
            padding: 1.5rem 2rem 0.5rem;
            &__inputFileWrapper {
                @extend %col-2;
            }
            &__formGroup {
                @extend %row-container, %col-10;
                padding-left: 1.5rem;
            }
        }
    }
    &__parentDetails {
        @extend .addNewStudent__studentDetails;
        &__title {
            @extend .addNewStudent__studentDetails__title;
        }
        &__formGroup {
            @extend .addNewStudent__studentDetails__mainWrapper;
        }
    }
    &__formsOption {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: flex-end;
        margin-top: 2rem;
        &__saveAsDraftBtn {
            border-radius: 25px;
            padding: 0.75rem 1.25rem;
            @extend %btn-purple-outline;
        }
        &__submitBtn {
            border-radius: 25px;
            padding: 0.75rem 1.25rem;
            @extend %btn-purple;
        }
    }
}